
.map-container {
    height: 400px;
  }

.recenter-button {
align-self: flex-start;
padding: 15px;
margin: 15px;
}

.sidebar {
background-color: rgb(35 55 75 / 90%);
color: #fff;
padding: 6px 12px;
font-family: monospace;
margin: 12px;
border-radius: 4px;
}

  